// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.title {
  margin: 10px;
}
a {
  font-size: 18px;
}
td {
  font-size: 16px;
}
.titleHeader {
  float: right;
  padding-top: 22px;
  padding-right: 22px;
  font-size: 20px;
  color: #ecf0f1;
}
.numberCircle {
  border-radius: 50%;
  behavior: url("PIE.htc");
  /* remove if you don't care about IE8 */
  width: 36px;
  height: 36px;
  padding-top: 8px;
  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 14px Arial, sans-serif;
}
.numberSquare {
  width: 30px;
  height: 42px;
  text-align: center;
  cursor: pointer;
  background: #edeceb;
  padding: 0 1px;
  border-radius: 3px;
  box-shadow: 0 1px 0 0 rgba(83, 69, 64, 0.3), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: background 0.1s ease;
  -moz-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
  margin: 0 auto;
  padding-top: 5px;
}
.arrow-up:hover {
  border-bottom-color: #da552f;
}
.numberSquare:hover {
  border-bottom-color: #da552f;
}
.centerTable {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
//Links
a:link {
  color: #fff;
  font-size: 12px;
}
a:visited {
  color: #fff;
  font-size: 12px;
}
a:hover {
  color: #fff;
  font-size: 12px;
}
a:active {
  color: #fff;
  font-size: 12px;
}
.table a:link {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
.table a:visited {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
.table a:hover {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
.table a:active {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
#message {
  text-align: center;
  margin: 5em auto;
  width: 80%;
  padding: 2em;
  background: #ea6c6c;
  font-size: 1.5em;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  color: #fff;
}
.is-visible {
  opacity: 1;
}
.is-hidden {
  opacity: 0;
}
.is-removed {
  display: none;
}
.alert-sucess {
  padding: 0;
  margin: 0;
}
